
body{
    background-image: url("../../img/pexels-roberto-shumski-1903702.jpg");
    background-origin: padding-box;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 0px;
    font-family: 'Alegreya';
}

#menu{
    left: 0;
    height: 100%;
    width: 15%;
    position: fixed;
    overflow-y: auto;
    background-color: rgba(255,255,255,0.5);
}

#content-wrapper{
    position: fixed;
    right: 0;
    width: 85%;
    height: 100%;
    overflow-y:scroll;
}

#content {
    background-color: white;
    overflow-y: visible;
    width: 70%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 15%;
    border-radius: 3px;
}

h4{
    text-indent: 2em;
}

.split{
    float: left;
    width: 50%;
}
ul ul { display: none }
ul li:hover ul { display: block; }